body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
nav ul {
    background-color: rgb(236, 180, 180);
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
}


nav ul li a { color:rgb(236, 30, 30); text-decoration: none;}
nav ul li a:hover {color: rgb(42, 31, 31);}


header h1{
   text-align: center;
}
article header p{ font-style: italic;}
main{padding-left: 20px;}
main article { border:  5px solid rgb(81, 65, 74); margin: 10px; padding: 10px;}
main article {
    background: rgb(231, 188, 215);
    margin: 10px;
    padding: 5px;
}

.my-list img 
{width: 150px; 
    height: 150px; 
    border-radius: 80%; 
    display: block; 
    margin: 0 auto 30px;}
